HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
SENTRY_DSN=
ENTRY_WEBHOOK_URL=
ENTRY_WEBHOOK_AUTH_HEADER=Authorization
ENTRY_WEBHOOK_AUTH_VALUE=
ENTRY_WEBHOOK_FLAG_FIELD=sendToWebhook
ENTRY_WEBHOOK_UIDS=api::news.news,api::page.page,api::events.events,api::summits.summits,api::job.job,api::legal-document.legal-document
